body {
    background-color: rgb(127, 182, 216);
    color: black;
}

.menu,
.menu-two {
    font-family: Apple Chancery, cursive;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}


ul,
a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
   
}

li:hover {
    margin-top: -10px;
    font-size: 25px;
    
}

h1 {
    font-family: fantasy;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

p {
    font-family: Apple Chancery, cursive;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}

.first-p,
.third-p,
.fifth-p,
.seventh-p {
    margin-left: 150px;
}

.second-p,
.fourth-p,
.sixth-p {
    margin-right: 150px;
}

.bottom {
    margin-bottom: 10px;
}

.menu-two {
    margin-bottom: 100px;
}

.footer {
    font-family: Apple Chancery, cursive;
    font-size: 20px;
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;

}